.mainComp {
  background: url("./unnamed.jpg");
  height: 50vh;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.mainComp2 {
  background: url("./unnamed.jpg");
  min-height: 40vh;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

.carousel button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.carousel button:hover {
  color: blue;
}
.mainCompH1 {
  width: 100%;
  font-size: 60px;
  display: flex;
}
.mainCompH2 {
  width: 100%;
  font-size: 60px;
  display: flex;
}

.hidden-side-bar {
  /* display: none; */
  background: blue;
  transition: width 1s ease-in;
  width: 70%;
}
.hidden-side-bar:target {
  display: block;
  width: 70%;
}
.publicationName {
  font-size: 18px !important;
}
.mainPubHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .mainCompH1 {
    font-size: 48px;
  }
  .mainCompH2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1003px) {
  .mainPubHeading {
    flex-direction: column;
  }
}
.upspace{
  display: block;
}
@media screen and (max-width: 850px) {
  /* .mainCompH1 {
    display: grid;
  } */
  .mainCompH2 {
    display: grid;
  }
  .upspace{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mainCompH1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .mainCompH2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .publicationName {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 477px) {
  .mainCompH1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .mainCompH2  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
}
