@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.home-logo {
  font-family: Quicksand, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  color: "black";
  font-weight: 600;
  font-size: 1.75rem;
  transition: font-size 1s;
}

.home-logo-shrink {
  font-weight: 600;
  font-family: Quicksand, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 1.5rem;
}
.play-button{
  display: block;
}
@media screen and (max-width: 720px) {
  .play-button {
    display: none;
  }
}


.main-container {
  display: flex;
  max-width: 70rem;
  padding: 0.9rem 1.2rem 0.5rem 1.2rem;
  margin: auto;
}

.row-home {
  display: flex;
  width: 100%;
}

.card-text-home {
  width: 50%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.mid-footer {
  display: block;
}

.card-img {
  padding: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.card-img-home {
  padding: 0px;
  margin: 0px;
  width: 50%;
  height: 100%;
  position: relative;
}
.intro-text {
  display: none !important ;
}
.header-space {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

html,
body {
  height: 100%;
  margin: 0;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.header-nav {
  background-color: rgb(240, 240, 240);
  position: fixed;
  width: 100%;
  transition: all 0.3s;
  z-index: 1;
}

.expand {
  background-color: white;
  padding-top: 1.8rem;
}

.navbar-button {
  display: flex;
  width: 100%;
  margin-left: 3rem;
}

.dark-mode {
  margin-left: 0rem;
}

.icons {
  margin-left: 0.75rem;
}

.navbar-menu {
  align-self: center;
  display: flex;
}

.navbar-item {
  margin-left: 2.5rem;
  width: 100%;
  font-family: Quicksand;
  font-size: 1.2rem;
  font-weight: 600;
}

.menu-icon {
  display: none;
}

.my-text {
  position: relative;
  cursor: pointer;
}

.active {
  padding-bottom: 8px;
  border-bottom: 3px solid black;
}

.my-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 0;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in-out;
}

.more-info-btn {
  transform: rotate(-180deg);
  transition: 0.1s linear;
}

.more-info-btn:hover {
  transform: rotate(0deg);
}
.more-info-btn:target {
  display: none;
}
/* Define the styles for the hover effect */
.my-text:hover::after {
  width: 100%;
}

.hover-navitem {
  width: 0px;
  transition: width 1s;
}

.navbar-menu-hidden {
  align-self: center;
  display: none;
}

@media (max-width: 1045px) {
  .navbar-menu {
    display: none;
  }
  .intro-text {
    display: block !important;
  }

  .card-text-home {
    display: none;
  }

  .card-img-home {
    min-width: 600px;
    min-height: 500px;
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .navbar-menu-hidden {
    display: flex;
  }

  .expand {
    background-color: white;
    padding-top: 1rem;
  }

  .menu-icon {
    display: block;
    margin-left: 1rem;
  }

  .card-img {
    width: 100%;
    height: 100%;
    top: 50%;
    object-fit: contain;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 720px) {
  .mid-footer {
    display: none;
  }
  .card-img-home {
    min-width: 400px;
    min-height: 400px;
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 520px) {
  .card-img-home {
    min-width: 300px;
    min-height: 300px;
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

.gallery-container {
  padding: 0;
}

.gallery-row {
  margin: 0;
}

.gallery-col {
  padding: 0;
}

.gallery-image {
  /* height: 350px; */
  aspect-ratio: auto;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.5s ease;
}

.gallery-image.active {
  transform: scale(1.1);
}
